@import "variables.scss";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";


header,
footer{
    background-color: $gray-900;
    color: $white;
}

body {
    background-color: $gray-600;
}

